PORT=4000

# Cadena de conexion a MongoDB
# Local:  mongodb://127.0.0.1:27017/clinosift
# Atlas:  mongodb+srv://usuario:password@cluster0.xxxxx.mongodb.net/clinosift
MONGO_URI=mongodb://127.0.0.1:27017/clinosift

JWT_SECRET=clinosift_clave_secreta_cambiar_en_produccion
JWT_EXPIRES_IN=8h
